<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/detail_page.css">
    <link rel="stylesheet" href="/static/css/comment.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap">
    <title>Document</title>
</head>
<body>
    <!-- 뒤로가기 -->
    <a class="close-button" href="/templates/main.html">Back</a>

    <div class = "card-wrapper">
        <div class = "card">
        <!-- 카드 이미지 -->
            <div class = "product-imgs">
                <div class = "img-display">
                    <div class = "img-showcase">
                        <img id="image" />
                    </div>
                </div>
            </div>
        <!-- 카드 아래 -->
            <div id="container1" class = "product-content">
                <h2 id="title" class = "product-title"></h2>
            </div>
        
            <div class = "product-price">
                <p>작가: <span id="author" class = "last-price"></span></p>
                <p id="container2">가격: <span id="price" class = "new-price"></span>₩</p>
            </div>
        
            <div id="container3" class = "product-detail">
                <h2> Content </h2>
                <p id="content"></p>
                <p>게시글 수정일: <span id="time_updated"></span></p>
                <p>게시글 생성일: <span id="time_created"></span></p>
            </div>

            <button id="update_button" type="button" onclick="updateMode()">수정하기</button>
            <button id="delete_button" type="button" onclick="removeArticle()">삭제하기</button>
        </div>
        <hr>
        <hr>
        <h1 class="hhh">comment</h1>
        <section id="content3">
            <div id="noteFeed">
                <div id="noteCommentBox">
                    <div class="feed-item">
                        <textarea placeholder="댓글을 입력하세요" wrap="off" id="myNote"></textarea>
                        <button id="send" type="button" onclick="writeComment()">
                            댓글 등록
                        </button>
                    </div>
                </div>
                <div id="comment_section">
                </div>
            </div>
        </section>
    </div>
</body>
    <!-- JS -->
    <script src="/static/js/detail_page.js"></script>
    <script src="/static/js/comment.js"></script>
</html>